<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!--<div th:fragment="tweet(${tweets})">-->
        <!--<div th:each="tweet : ${tweets}">-->
            <!--<p th:text="${tweet.content}"></p>-->
            <!--<p th:text="${tweet.date}"></p>-->
            <!--<p th:text="${tweet.p}"></p>-->
            <!--<p th:each=" hashtag : ${tweet.hashTag}" th:remove="tag">-->
                <!--<a th:text="${hashtag}" th:href="'hashtag?hashtag='+${hashtag} "></a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>