<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Micro Blog de Lingua</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-old-ie-min.css"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-min.css"/>
    <!--<![endif]-->


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/blog-old-ie.css"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/blog.css"/>
    <!--<![endif]-->
</head>
<body>
<div id="layout" class="pure-g">


    <div th:replace="fragments/sidebar :: sidebar" ></div>

    <div class="content pure-u-1 pure-u-md-3-4">

        <div class="posts" >
            <h1 class="content-subhead">Recent Posts</h1>

            <section class="post" th:each="tweet : ${tweets}">
                <header class="post-header">
                    <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="img/common/ericf-avatar.png"/>

                    <p class="post-meta">
                    <p th:text="${tweet.date}" th:remove="tag"></p>
                     - By <a class="post-author" href="#" th:text="${tweet.people.firstName}+' '+${tweet.people.lastName}"></a> under
                    <p th:each=" hashtag : ${tweet.hashTag}" th:remove="tag">
                        <a class="post-category post-category-js" th:text="'#'+${hashtag}" th:href="'hashtag?hashtag='+${hashtag} "></a>
                    </p>
                    </p>
                </header>

                <div class="post-description">
                    <p th:text="${tweet.content}"></p>
                </div>
            </section>
        </div>
    </div>

    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</div>


</body>
</html>